body *:not(li,img, p) {
    width: 70%; 
}
li p, li h2{
    width:100%;
}
body{
    background-color: rgb(255, 252, 250);
    margin-left: 10%;
}
body *{
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}
img{
    height: auto;
    width:100%;
}
p {
    text-align: center;
    border: 4px;
    border-color: wheat;
    border-style: solid none solid none;
    margin:0px;
    font-size: 42px;
    
}
h1{
    padding-left: 22px;
    font-size: 72px;
    text-decoration: dashed;
    font-weight:bolder;
    border: 4px dashed chocolate;
    background-color: bisque;
    margin-bottom: 75px;
}
.button{
    border: 4px dotted wheat;
    background-color: cornsilk;
    text-align: center;
    display: block;
    text-decoration: none;
    color: black;
    margin: 20px 0px;
    padding: 10px;
}
.button:hover{
    border: 20px solid white;
}