*:not(html,body,li) {
    
    width: 70%;
    border: 2px dotted wheat;
    font-family: "Lucida Console", "Courier New", monospace;
}
li p, li h2{
    width:100%;
}
ul,ol{
    box-sizing: border-box;
}
h2{
    font-size: 32px;
    font-weight:bold;
}
p, li {
    font-size: 22px;
}
ol li{
    margin-bottom: 10px;
    background-color: aquamarine;
}
body{
    margin-left: 10%;

}

img{
    height: auto;
}
h1{
    font-size: 72px;
    text-decoration: dashed;
}
